/**************************************************************
 Name: Yolanda Gunter
 Assignment: Final Project
 Purpose: CodeIgniter, jQuery and Boostrap
 Notes: Pulling everything I've learned together for my Final Project
 **************************************************************/

/*
***************************************
Mobile First CSS
***************************************
*/
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center-margin{
    margin-left: auto;
    margin-right: auto;
}

.simple-border {
    border: 1px dashed darkgrey;
}

#header {
    background-color: white;
}
#header img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.navbar-Collapse {
    background-color: #e0a800;
}

#navbar-brand img {
    width: 100%;
    height: auto;
}

nav a {
    max-width: 100%;
    text-align: center;
    color: #bd2130;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    vertical-align: middle;
}

.body {
    max-width: 100%;
    padding: 30px;
    background-image: url('/assets/images/lil_lemons.png');
}

.body-container {
    max-width: 100%;
    padding: 20px;
    background-color: transparent;
    background-image: url('/assets/images/lil_lemons.png');
}

.content-container {
    max-width: 100%;
    border: 1px #fff6dc;
    padding: 30px;
    align-content: space-evenly;
}

.container {
    max-width: 100%;
    padding: 10px;
    align-content: space-evenly;
}

.container-home {
    max-width: 100%;
    padding: 10px;
}

#feature {
    max-width: 100%;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}

#feature img {
    max-width: 100%;
    padding: 20px;
    border-radius: 7px;
}

.container-gallery {
    max-width: 100%;
    padding: 10px;
    background-color: #F9AD81;
    position: center;
    border-radius: 7px;
}

#gallery-box {
    width: 100%;
}

#gallery-box img {
    max-width: 100%;
    padding: 5px;
    border-radius: 7px;
}

.container-about {
    max-width: 100%;
    padding: 10px;
    position: center;
}

.face {
    max-width: 100%;
    float: none;
    border-radius: 7px;
    padding: 20px;
}

.intro-section {
    padding: 20px;
    color: #155724;
    text-align: center;
}

.row {
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

img .png {
    max-width: 100%;
    border-radius: 7px;
    float: none;
}

img .jpg {
    max-width: 100%;
    border-radius: 7px;
}

p{
    font-family:"Fjalla One", sans-serif !important;
    font-size: 20px;
}

h1{
    font-family: 'Knewave', cursive;
    font-size: 40px;
    color: black;
    margin: 0 !important;
    padding: 0!important;
}

.container-contact {
    max-width: 100%;
    padding: 10px;
    background-color: #7DA7D9;
    border-radius: 7px;
}

.error {
    color: red;
}

.form-div {
    text-align: left;
    background-color: #F6F7F8;
    border: 3px solid #fff3cd;
    border-radius: 7px;

    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin: 10px;
}

.form-control {
    padding: 10px;
}

.col-md {
    max-width: 100%;
    padding: 5px;
}

.col-md-4 {
    max-width: 100%;
    padding: 5px;
    font-size: 14px;
}

.col-md-6 {
    max-width: 100%;
    padding: 5px;
    font-size: 14px;
}

hr {
    border: 0;
    height: 2px;
    margin: 10px 0px 30px 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.home-newsletter {
    max-width: 100%;
    padding: 10px 0;
    background: yellow;
    border-radius: 7px;
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.home-newsletter .single h2 {
    text-align: center;
    font-size: 22px;
    color: mediumvioletred;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: #0b2e13;
    border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}

.home-newsletter .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}

.copyright .col-md-6 a {
    max-width: 100%;
    text-align: center;
    color: black;
    display: inline-block;
    text-transform: uppercase;
}

/*
***************************************
Media Queries
***************************************
*/

/*this is for tablet*/
@media (min-width: 468px) and (max-width: 768px) {
    .header {
        background-color: #EFF0F1;
        margin: 0 auto;
    }

    p {
        font: bold 18px sans-serif;
    }

    h1 {
        color: #004085;
    }
}

/*this is for desktop*/
@media (min-width: 768px) {
    h1 {
        color: #721c24;
    }
}
